@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
// MEDIA QUERIES MANAGER
/*
0 - 600px:          Phone
600px - 900px:      Tablet portrait
900px - 1200px:     Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px+:            Big desktop

$bearkpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px

*/


@mixin respond($bearkpoint) {
    @if $bearkpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px = 600px / 16px (default-font-size) = 37.5em
    }

    @if $bearkpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px = 900 / 16px (default-font-size) = 56.25em
    }

    @if $bearkpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; // 1200px = / 16px (default-font-size) = 75em
    }    

    @if $bearkpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; // 1800px = / 16px (default-font-size) = 112.5em
    }
}